<!-- project/templates/project/add.html -->

{% extends 'project/base.html' %}

{% block content %}

<body>
    <div class="container">
        <h1>Add A Book Review</h1>

        <form method="post" action="{% url 'add_review' %}">
            {% csrf_token %}
            Book title: <input type="text" name="title" required>
            <br><br>
            Author: <input type="text" name="author" required>
            <br><br>
            Review: <textarea name="review" id="" cols="30" rows="10" required></textarea>
            <br><br>
            Rating: <select name="rating" id="" required>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <br><br>
            <input type="submit" value="Add book and review">
        </form>

    </div>
</body>

{% endblock %}
