<!-- project/templates/project/base.html 
A template with common HTML code that will be re-used by all of the other templates.-->

{% load static %}

<html>
    <head>
        <title>Book Tracker and Log!</title>
        <link rel="stylesheet" href="{% static 'project/styles.css' %}">
    </head>

    <body>
        
        <nav>
            <ul>
                {% if request.user.is_authenticated %}
                <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                <li><a href="{% url 'show_user' user.id %}" class="btn">View Profile</a></li> 
                <li><a href="{% url 'currently_reading' %}" class="btn">Currently Reading</a></li>
                <li><a href="{% url 'book_history' %}" class="btn">Book History</a></li>
                <li><a href="{% url 'add_book' %}" class="btn">Add Book</a></li>
                <li><a href="{% url 'add_review' %}" class="btn">Add a Review</a> </li>
                <form action="{% url 'logout' %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn">Logout</button>
                </form>
                
                {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'register' %}">Become a Reader</a></li>
                {% endif %}
            </ul>
        </nav>

        <h1>Book Tracker and Log!</h1>

        {% block content %}
        
        {% endblock %}
    </body>
</html>