<!-- project/templates/project/base.html 
A template with common HTML code that will be re-used by all of the other templates.-->

{% load static %}
<html>
    <head>
        <title>Book Journal</title>
        <link rel="stylesheet" href="{% static 'project/styles.css' %}">
    </head>

    <body class="body-bg">
        <nav>
            <ul class="nav-list">
                <!-- These URLs do not depend on which user is logged in -->
                <li><a href="{% url 'book_list' %}" class="nav-link">Books</a></li>
            </ul>
        </nav>

        {% block content %}
        <!-- Fill in this section with specific page detail -->
        {% endblock %}

    </body>
</html>