<!-- project/templates/project/book_list.html -->
{% extends 'project/base.html' %}

{% block content %}

<h1 class="page-title">Books</h1>
<ul class="book-list">
  {% for book in books %}
    <li class="book-item">
      <a href="{% url 'book_detail' book.pk %}" class="book-link">
        <div class="book-card">
          <h3 class="book-title">{{ book.title }}</h3>
          <p class="book-author">by {{ book.author }}</p>
        </div>
      </a>
    </li>
  {% endfor %}
</ul>

{% endblock %}
