<!-- blog/templates/blog/show_all.html -->
{% extends 'blog/base.html' %}

<h1>Show All Articles</h1>

<!-- display a context variable called articles -->

{% block content %}
<h1>{{article.title}}</h1>

<main class="grid-container">

    <article class="featured">  
        <!-- <img src="{{article.image_url}}" alt="{{article.image_url}}"> -->

        {% if a.image_file %}
        <img src="{{article.image_file.url}}" alt="{{article.image_file.url}}">
        {% else %}
        No image_file avaliable
        {% endif %}

        <div>
            <h2>{{article.title}}</h2>
            <h3>by {{article.author}} at {{article.published}}</h3>

            <p>
                {{article.text}}
            </p>
        </div>  
    </article> 

    <div>
        {% if article.get_comments %}
            <h2>Comments</h2>

            <!-- call the get_comments method on the article object -->
            {{article.get_comments}}

            {% for c in article.get_comments %}
            <div>
                <strong>by {{c.author}} at {{c.published}}</strong>

                <p>
                    {{c.text}}
                </p>

                <h4>
                    <a href="{% url 'create_comment'}"></a>
                </h4>

            </div>
            {% endfor %}
        
        {% else %}
            <h2>No Comments</h2>
            {% endif %}
    </div>
</main>    

</div>
{% endblock %}
