<!-- blog/templates/blog/show_all.html -->
{% extends 'blog/base.html' %}

<h1>Show All Articles</h1>

<!-- display a context variable called articles -->
<!-- {{articles}} -->

{% block content %}
<main class="grid-container">
    <!-- loop to display each Article -->
    {% for a in articles %}
    
    <article>  
        <!-- new: display the image url stored in database -->
        <img src="{{a.image_url}}" alt="{{a.image_url}}">

        <div>
            <!-- a.pk is the primary key (number) on the Article identified by a -->
            <h2><a href="{% url 'article' a.pk %}">{{a.title}}</a></h2>
            <h3>by {{a.author}} at {{a.published}}</h3>

            <p>
                {{a.text}}
            </p>
        </div>  
    </article> 
       
    {% endfor %}
</main>    

</div>
{% endblock %}
