<!-- mini_fb/templates/mini_fb/show_all.html -->
{% extends 'mini_fb/base.html' %}

<h1>Show All Profiles</h1>

{% block content %}

<h1>{{ profile.first_name}} {{profile.last_name}}</h1>

<div class="profile-list">
    <div class="profile">            
        <img src="{{ profile.image_url }}" alt="{{ profile.first_name}} {{profile.last_name}}'s profile picture" width="350px">
        <h2>{{ profile.first_name }} {{ profile.last_name }}</h2>
        <p>{{ profile.city }}</p>
        <p>{{ profile.email_address }}</p>
    </div> 

    <div>
        {% if profile.get_status_messages %}
            <h3>Status Messages</h3>
    
            <div class="status-section">
                {% for status in profile.get_status_messages %}
                    <div class="status-message">
                        <p>{{ status.message }}</p>
                        <small>Posted on: {{ status.timestamp|date:"Y-m-d H:i:s" }}</small>
                    </div>
                    <hr> 
                {% endfor %}
            </div>

        {% else %}
            <h2>No Status Messages</h2>
            {% endif %}
        
        <h4>
            <a href="{% url 'create_status' profile.pk %}">Create Status Message</a>
        </h4>

    </div>
    
</div>    

{% endblock %}