<!-- mini_fb/templates/mini_fb/show_all.html -->
{% extends 'mini_fb/base.html' %}

{% block content %}
    <h2>All Profiles</h2>

    <div class="profile-list">

        {% for profile in profiles %}
        <div class="profile">    
            <img src="{{ profile.image_url }}" alt="{{ profile.first_name}} {{profile.last_name}}'s image" style="width: 350px; height: auto;">
            <h2><a href="{% url 'show_profile' profile.pk %}">{{ profile.first_name}} {{profile.last_name}}</a></h2>
        </div>
        {% endfor %}
    
{% endblock %}
