<!-- mini_fb/templates/mini_fb/show_profile.html -->

{% extends 'mini_fb/base.html' %}

<h1>Show All Profiles</h1>

{% block content %}

<div class="profile-list">
    <div class="profile">            
        <img src="{{ profile.image_url }}" alt="{{ profile.first_name }} {{ profile.last_name }}'s profile picture" width="350px">
        <h2>{{ profile.first_name }} {{ profile.last_name }}</h2>
        <p>City: {{ profile.city }}</p>
        <p>Email: {{ profile.email_address }}</p>
    </div> 

    <div>
        {% if profile.get_status_messages %}
            <h3>Status Messages</h3>
    
            <div class="status-section">
                {% for status in profile.get_status_messages %}
                    <div class="status-message">
                        <p>{{ status.message }}</p>
                        <small>Posted on: {{ status.timestamp|date:"Y-m-d H:i:s" }}</small>

                        <!-- Display images associated with the status message -->
                        <div class="status-images">
                            {% for img in status.get_images %}
                                <img src="{{ img.image_file.url }}" alt="Image from status message" width="300px">
                                <small>Uploaded on: {{ img.upload_timestamp|date:"Y-m-d H:i:s" }}</small>
                            {% endfor %}
                        </div>

                        <!-- Update and Delete Links for Status Messages -->
                        <h4>
                            <form action="{% url 'update_status' status.pk %}" method="GET">
                                <button type="submit">Update Status</button>
                            </form>
                            <form action="{% url 'delete_status' status.pk %}" method="GET">
                                <button type="submit">Delete Status</button>
                            </form>
                        </h4>
                    </div>
                    <hr> 
                {% endfor %}

            </div>

        {% else %}
            <h2>No Status Messages</h2>
        {% endif %}
        
        
        {% if user.is_authenticated %}
            {% if user == profile.user %}
                <h4>
                    <form action="{% url 'create_status' profile.pk %}" method="GET">
                        <button type="submit">Create Status Message</button>
                    </form>
                    <form action="{% url 'update_profile' %}" method="GET">
                        <button type="submit">Update Profile</button>
                    </form>
                </h4>
            {% endif %}
        {% endif %}
        
        
        <!-- Friends Section -->
        <h3>Friends</h3>

        <div class="mini-profile-list">
            {% for friend in profile.get_friends %}
                <div class="mini-profile">    
                    <img src="{{ friend.image_url }}" alt="{{ friend.first_name}} {{friend.last_name}}'s image" style="width: 100px; height: auto;">
                    <p><a href="{% url 'show_profile' friend.pk %}">{{ friend.first_name}} {{friend.last_name}}</a></p>
                </div>
            {% empty %}
                <li>No friends to show.</li>
            {% endfor %}                
        </div>
        
        {% if user.is_authenticated %}
            {% if user == profile.user %}
                <p class="back-link"><a href="{% url 'friend_suggestions' %}">See Friend Suggestions</a></p>
                <p class="back-link"><a href="{% url 'news_feed' %}">News Feed</a></p>
            {% endif %}
        {% endif %}
       
    </div>
</div>    

{% endblock %}
