<!-- mini_fb/templates/mini_fb/update_status_form.html -->

{% extends 'mini_fb/base.html' %}

{% block content %}
<h2>Update Status Message</h2>

<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}  

    <tr>
        <td></td>

        <td>
            <input type="submit" value="Update Status">
            
            </form>
            <!-- NOTE: the cancel button is its own form!!!! -->
            <form action="{% url 'show_profile' form.instance.profile.pk %}">
                <input type="submit" name="Cancel" value="Cancel">
            </form>
        </td>
    </tr>
    
</form>

{% endblock %}