<!-- quotes/templates/quotes/about.html -->

{% extends 'quotes/base.html' %}

{% block content %}
        <h1>Audrey Hepburn</h1>

        <p>Welcome to our Quote of the Day application!</p>

        <p>Audrey Hepburn was a famous actress, fashion icon, and humanitarian. Before she became a movie star, she was a young girl in Belgium who wanted to be a ballerina. She lived through a world war and many other difficult times, but never gave up on her dreams and was always kind to everyone around her.</p>   
{% endblock %}
